<a href="{% url 'rage_notification_detail' record.pk %}" class="btn btn-info  btn-icon btn-xs"><i class="fa fa-eye"></i></a>
<a href="{% url 'rage_notification_update' record.pk %}" class="btn btn-warning  btn-icon btn-xs"><i class="fa fa-edit"></i></a>
<a href="{% url 'rage_notification_delete' record.pk %}" class="btn btn-danger btn-icon  btn-xs"><i class="fa fa-trash"></i></a>
<a href="{% url 'rage_notification_delete' record.pk %}" class="btn btn-dark btn-icon  btn-xs"><i class="fa fa-file-pdf"></i></a>