{% extends 'layout/centre-base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

    <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Subheader-->
            {% include 'layout/header-title.html' %}
            <!--end::Subheader-->

            <!--begin::Stats Cards with Animated Icons-->
            <div class="row mb-10 animate__animated animate__fadeIn pl-3">
                <div class="col-xl-4">
                    <div class="card card-custom bg-gradient-danger card-stretch gutter-b wave wave-animate-slow">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center justify-content-between mb-5">
                                <h3 class="card-title font-weight-bolder text-danger">Post-Exposition</h3>
                                <div class="dropdown dropdown-inline">
                                    <a href="#"
                                       class="btn btn-transparent-dark btn-sm font-weight-bolder dropdown-toggle px-5"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-download"></i> Export
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                        <ul class="navi navi-hover">
                                            <li class="navi-header pb-1">
                                                <span class="text-white text-uppercase font-weight-bold">Exportation</span>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon"><i class="flaticon2-file"></i></span>
                                                    <span class="navi-text">Excel</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon"><i class="flaticon2-file-2"></i></span>
                                                    <span class="navi-text">CSV</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex align-items-center justify-content-around">
                                <div class="d-flex flex-column align-items-center pulse-animate">
                                    <span class="font-size-h1-lg font-weight-boldest text-dark">{{ patients_this_month.postexposition }}</span>
                                    <span class="text-dark opacity-75 font-weight-bold">Ce mois-ci</span>
                                </div>
                                <div class="d-flex flex-column align-items-center pulse-animate">
                                    <span class="font-size-h1-lg font-weight-boldest text-dark">{{ patients_this_week.postexposition }}</span>
                                    <span class="text-dark opacity-75 font-weight-bold">Cette semaine</span>
                                </div>
                            </div>

                            <div class="mt-5">
                                <div id="postexposition-chart" style="height: 100px;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="card card-custom bg-gradient-primary card-stretch gutter-b wave wave-animate">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center justify-content-between mb-5">
                                <h3 class="card-title font-weight-bolder text-primary">Pré-Exposition</h3>
                                <div class="dropdown dropdown-inline">
                                    <a href="#"
                                       class="btn btn-transparent-dark btn-sm font-weight-bolder dropdown-toggle px-5"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-download"></i> Export
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                        <ul class="navi navi-hover">
                                            <li class="navi-header pb-1">
                                                <span class="text-dark text-uppercase font-weight-bold">Exportation</span>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon"><i class="flaticon2-file"></i></span>
                                                    <span class="navi-text">Excel</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon"><i class="flaticon2-file-2"></i></span>
                                                    <span class="navi-text">CSV</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex align-items-center justify-content-around">
                                <div class="d-flex flex-column align-items-center pulse-animate">
                                    <span class="font-size-h1-lg font-weight-boldest text-dark">{{ patients_this_month.preexposition }}</span>
                                    <span class="text-dark opacity-75 font-weight-bold">Ce mois-ci</span>
                                </div>
                                <div class="d-flex flex-column align-items-center pulse-animate">
                                    <span class="font-size-h1-lg font-weight-boldest text-dark">{{ patients_this_week.preexposition }}</span>
                                    <span class="text-dark opacity-75 font-weight-bold">Cette semaine</span>
                                </div>
                            </div>

                            <div class="mt-5 text">
                                <div id="preexposition-chart" style="height: 100px;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="card card-custom bg-gradient-dark card-stretch gutter-b wave wave-animate-slow">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center justify-content-between mb-5">
                                <h3 class="card-title font-weight-bolder text-dark">Cas de Rage Humaine</h3>
                                <div class="dropdown dropdown-inline">
                                    <a href="#"
                                       class="btn btn-transparent-dark btn-sm font-weight-bolder dropdown-toggle px-5"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-download"></i> Export
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                        <ul class="navi navi-hover">
                                            <li class="navi-header pb-1">
                                                <span class="text-white text-uppercase font-weight-bold">Exportation</span>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon"><i class="flaticon2-file"></i></span>
                                                    <span class="navi-text">Excel</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon"><i class="flaticon2-file-2"></i></span>
                                                    <span class="navi-text">CSV</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex align-items-center justify-content-around">
                                <div class="d-flex flex-column align-items-center pulse-animate">
                                    <span class="font-size-h1-lg font-weight-boldest text-white">{{ patients_this_month.notification }}</span>
                                    <span class="text-white opacity-75 font-weight-bold">Ce mois-ci</span>
                                </div>
                                <div class="d-flex flex-column align-items-center pulse-animate">
                                    <span class="font-size-h1-lg font-weight-boldest text-white">{{ patients_this_week.notification }}</span>
                                    <span class="text-white opacity-75 font-weight-bold">Cette semaine</span>
                                </div>
                            </div>

                            <div class="mt-5">
                                <div id="notification-chart" style="height: 100px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Stats Cards-->

            <!--begin::Map Section-->
            <div class="row mb-10 animate__animated animate__fadeInUp pl-3">
                <div class="col-12">
                    <div class="card card-custom card-stretch gutter-b shadow-lg">
                        <div class="card-header border-0">
                            <h3 class="card-title font-weight-bolder text-dark">
                                <i class="fas fa-map-marked-alt text-primary mr-2"></i>
                                Carte des Patients en Côte d'Ivoire
                            </h3>
                            <div class="card-toolbar">
                                <div class="dropdown dropdown-inline">
                                    <button type="button"
                                            class="btn btn-light-primary btn-sm font-weight-bold dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-layer-group"></i> Filtres
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                        <ul class="nav nav-hover flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#" id="filter-postexposition">
                                                    <span class="nav-text">Post-exposition</span>
                                                    <span class="nav-icon"><i
                                                            class="fas fa-circle text-danger"></i></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#" id="filter-preexposition">
                                                    <span class="nav-text">Pré-exposition</span>
                                                    <span class="nav-icon"><i
                                                            class="fas fa-circle text-primary"></i></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#" id="filter-notification">
                                                    <span class="nav-text">Notification</span>
                                                    <span class="nav-icon"><i
                                                            class="fas fa-circle text-dark"></i></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div id="map" style="height: 500px; border-radius: 6px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Map Section-->

            <!--begin::Data Visualization Section-->
            <div class="row mb-10 animate__animated animate__fadeIn pl-3">
                <div class="col-xl-6">
                    <div class="row">
                        {% for period, stats in stats_by_period.items %}
                            <div class="col-xl-6 mb-5">
                                <div class="card card-custom bg-white gutter-b card-stretch shadow-sm">
                                    <div class="card-header border-0 bg-{% cycle 'warning' 'info' 'success' 'danger' %}-o-20">
                                        <h3 class="card-title font-weight-bolder text-dark">{{ period }}</h3>
                                    </div>
                                    <div class="card-body pt-0">
                                        <div class="d-flex flex-column">
                                            <div class="d-flex align-items-center justify-content-between mb-5">
                                                <div class="d-flex flex-column text-center pulse-animate">
                                                    <span class="text-dark font-weight-bolder font-size-h4">Pré-Ex</span>
                                                    <span class="text-primary font-weight-boldest font-size-h2 mt-2">{{ stats.preexposition }}</span>
                                                </div>
                                                <div class="d-flex flex-column text-center pulse-animate">
                                                    <span class="text-dark font-weight-bolder font-size-h4">Post-Ex</span>
                                                    <span class="text-danger font-weight-boldest font-size-h2 mt-2">{{ stats.postexposition }}</span>
                                                </div>
                                                <div class="d-flex flex-column text-center pulse-animate">
                                                    <span class="text-dark font-weight-bolder font-size-h4">Notif</span>
                                                    <span class="text-dark font-weight-boldest font-size-h2 mt-2">{{ stats.notification }}</span>
                                                </div>
                                            </div>
                                            <div class="progress progress-xs mb-3">
                                                <div class="progress-bar bg-primary" role="progressbar"
                                                     style="width: {{ stats.preexposition_percent }}%"
                                                     aria-valuenow="{{ stats.preexposition_percent }}"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="progress progress-xs mb-3">
                                                <div class="progress-bar bg-danger" role="progressbar"
                                                     style="width: {{ stats.postexposition_percent }}%"
                                                     aria-valuenow="{{ stats.postexposition_percent }}"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-dark" role="progressbar"
                                                     style="width: {{ stats.notification_percent }}%"
                                                     aria-valuenow="{{ stats.notification_percent }}"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="col-xl-6 mb-5">
                            <div class="card card-custom bg-white gutter-b card-stretch shadow-sm">
                                <div class="card-header border-0 bg-success-o-20">
                                    <h3 class="card-title font-weight-bolder text-dark">
                                        <i class="fas fa-syringe text-success mr-2"></i>
                                        Motifs de vaccination
                                    </h3>
                                </div>
                                <div class="card-body pt-0">
                                    <div id="motif-vaccination-chart" style="height: 300px;"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <div class="card card-custom bg-white gutter-b card-stretch shadow-sm">
                                <div class="card-header border-0 bg-info-o-20">
                                    <h3 class="card-title font-weight-bolder text-dark">
                                        <i class="fas fa-bug text-info mr-2"></i>
                                        Types d'expositions
                                    </h3>
                                </div>
                                <div class="card-body pt-0">
                                    <div id="exposition-types-chart" style="height: 300px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="card card-custom bg-white gutter-b card-stretch shadow-lg">
                        <div class="card-header border-0 bg-primary-o-10">
                            <h3 class="card-title font-weight-bolder text-dark">
                                <i class="fas fa-chart-bar text-primary mr-2"></i>
                                Statistiques par tranche d'âge et sexe
                            </h3>
                        </div>
                        <div class="card-body pt-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-vertical-center">
                                    <thead class="bg-light-primary">
                                    <tr>
                                        <th class="text-center">Tranche d'âge</th>
                                        <th class="text-center">Sexe</th>
                                        <th class="text-center">Post-ex</th>
                                        <th class="text-center">Pré-ex</th>
                                        <th class="text-center">Notif</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for age_range, stats in age_stats.items %}
                                        <tr class="animate__animated animate__fadeIn">
                                            <td class="text-center font-weight-boldest" rowspan="2">{{ age_range }}</td>
                                            <td class="text-center text-primary font-weight-bold">
                                                <i class="fas fa-male mr-2"></i>Masculin
                                            </td>
                                            <td class="text-center">{{ stats.M.postexposition }}</td>
                                            <td class="text-center">{{ stats.M.preexposition }}</td>
                                            <td class="text-center">{{ stats.M.notification }}</td>
                                        </tr>
                                        <tr class="animate__animated animate__fadeIn">
                                            <td class="text-center text-danger font-weight-bold">
                                                <i class="fas fa-female mr-2"></i>Feminin
                                            </td>
                                            <td class="text-center">{{ stats.F.postexposition }}</td>
                                            <td class="text-center">{{ stats.F.preexposition }}</td>
                                            <td class="text-center">{{ stats.F.notification }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Data Visualization Section-->

            <div class="row">
                <!-- Statistiques par pôle régional -->
                <div class="col-md-6">
                    <div class="card" style="height: 550px;">
                        <div class="card-header">
                            <h3 class="card-title">Statistiques des donnees par Pôle Régional</h3>
                        </div>
                        <div class="card-body  p-0" style="overflow-y: auto; max-height: 450px;">
                            <table class="table table-striped table-bordered mb-0">
                                <thead class="table-dark sticky-top" style="top: 0; z-index: 1;">
                                <tr>

                                    <th>PRES</th>
                                    <th>PreP</th>
                                    <th>PEP</th>
                                    <th>Notifications</th>
                                    <th>Vaccinations</th>
                                    <th>MAPI</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for centre in stats_poles %}
                                    <tr>
                                        <td>{{ centre.name }}</td>
                                        <td class="text-primary">{{ centre.total_preexposition }}</td>
                                        <td class="text-danger">{{ centre.total_postexposition }}</td>
                                        <td class="text-dark">{{ centre.total_notifications }}</td>
                                        <td class="text-success">{{ centre.total_vaccinations }}</td>
                                        <td class="text-info">{{ centre.total_mapis }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Statistiques par région -->
                <div class="col-md-6">
                    <div class="card" style="height: 550px;">
                        <div class="card-header">
                            <h3 class="card-title">Statistiques des donnees par Région</h3>
                        </div>
                        <div class="card-body  p-0" style="overflow-y: auto; max-height: 450px;">
                            <table class="table table-striped table-bordered mb-0">
                                <thead class="table-dark sticky-top" style="top: 0; z-index: 1;">
                                <tr>
                                    <th>Région</th>
                                    <th>PreP</th>
                                    <th>PEP</th>
                                    <th>Notifications</th>
                                    <th>Vaccinations</th>
                                    <th>MAPI</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for centre in statts_regions %}
                                    <tr>
                                        <td>{{ centre.name }}</td>
                                        <td class="text-primary">{{ centre.total_preexposition }}</td>
                                        <td class="text-danger">{{ centre.total_postexposition }}</td>
                                        <td class="text-dark">{{ centre.total_notifications }}</td>
                                        <td class="text-success">{{ centre.total_vaccinations }}</td>
                                        <td class="text-info">{{ centre.total_mapis }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <!-- Statistiques par district -->
                <div class="col-md-6">
                    <div class="card" style="height: 550px;">
                        <div class="card-header">
                            <h3 class="card-title">Statistiques des donnees par District</h3>
                        </div>
                        <div class="card-body  p-0" style="overflow-y: auto; max-height: 450px;">
                            <table class="table table-striped table-bordered mb-0">
                                <thead class="table-dark sticky-top" style="top: 0; z-index: 1;">
                                <tr>
                                    <th>District</th>
                                    <th>PreP</th>
                                    <th>PEP</th>
                                    <th>Notifications</th>
                                    <th>Vaccinations</th>
                                    <th>MAPI</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for centre in district %}
                                    <tr>
                                        <td>{{ centre.nom }}</td>
                                        <td class="text-primary">{{ centre.total_preexposition }}</td>
                                        <td class="text-danger">{{ centre.total_postexposition }}</td>
                                        <td class="text-dark">{{ centre.total_notifications }}</td>
                                        <td class="text-success">{{ centre.total_vaccinations }}</td>
                                        <td class="text-info">{{ centre.total_mapis }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Statistiques par centre -->
                <div class="col-md-6">
                    <div class="card" style="height: 550px;">
                        <div class="card-header">
                            <h3 class="card-title">Statistiques des donnees par Centre Antirabique</h3>
                        </div>
                        <div class="card-body  p-0" style="overflow-y: auto; max-height: 450px;">
                            <table class="table table-striped table-bordered mb-0">
                                <thead class="table-dark sticky-top" style="top: 0; z-index: 1;">
                                <tr>
                                    <th>Centre</th>
                                    <th>PreP</th>
                                    <th>PEP</th>
                                    <th>Notifications</th>
                                    <th>Vaccinations</th>
                                    <th>MAPI</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for centre in centres %}
                                    <tr>
                                        <td>{{ centre.nom }}</td>
                                        <td class="text-primary">{{ centre.total_preexposition }}</td>
                                        <td class="text-danger">{{ centre.total_postexposition }}</td>
                                        <td class="text-dark">{{ centre.total_notifications }}</td>
                                        <td class="text-success">{{ centre.total_vaccinations }}</td>
                                        <td class="text-info">{{ centre.total_mapis }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--begin::Footer-->
            {% include 'layout/footer.html' %}
            <!--end::Footer-->
        </div>
    </div>

    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
    <script src="{% static 'assets/plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
    <script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
    <!--end::Global Theme Bundle-->

    <!--begin::Page Vendors(used by this page)-->
    <script src="{% static 'assets/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
    <script src="{% static 'assets/plugins/custom/leaflet/leaflet.bundle.js' %}"></script>
{#    <script src="{% static 'assets/plugins/custom/apexcharts/apexcharts.bundle.js' %}"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!--end::Page Vendors-->

    <!--begin::Page Scripts(used by this page)-->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Animation des éléments
            $('.animate__animated').each(function (i) {
                $(this).delay(i * 100).queue(function () {
                    $(this).addClass('animate__fadeIn').dequeue();
                });
            });

            // Initialisation des graphiques
            initCharts();

            // Initialisation de la carte
            initMap();

            // Effet de vague animée
            $('.wave').each(function () {
                const wave = $(this);
                setInterval(function () {
                    wave.toggleClass('wave-animate');
                }, wave.hasClass('wave-animate-slow') ? 4000 : 2000);
            });

            // Effet de pulsation
            setInterval(function () {
                $('.pulse-animate').toggleClass('pulse');
            }, 1500);
        });

        function initCharts() {
            // Graphique pour Post-exposition
            const postExpositionChart = new ApexCharts(document.querySelector("#postexposition-chart"), {
                series: [{
                    name: "Post-exposition",
                    data: {{ chart_data.postexposition|safe }}
                }],
                chart: {
                    type: 'area',
                    height: 100,
                    sparkline: {
                        enabled: true
                    },
                    animations: {
                        enabled: true,
                        easing: 'easeinout',
                        speed: 800,
                        animateGradually: {
                            enabled: true,
                            delay: 150
                        },
                        dynamicAnimation: {
                            enabled: true,
                            speed: 350
                        }
                    }
                },
                stroke: {
                    curve: 'smooth',
                    width: 3
                },
                fill: {
                    type: 'gradient',
                    gradient: {
                        shadeIntensity: 1,
                        opacityFrom: 0.7,
                        opacityTo: 0.3,
                    }
                },
                colors: ['#ffffff'],
                xaxis: {
                    categories: {{ chart_data.months|safe }},
                    labels: {
                        show: false
                    }
                },
                tooltip: {
                    fixed: {
                        enabled: false
                    },
                    x: {
                        show: true
                    },
                    marker: {
                        show: false
                    }
                }
            });
            postExpositionChart.render();

            // Graphique pour Pré-exposition
            const preExpositionChart = new ApexCharts(document.querySelector("#preexposition-chart"), {
                series: [{
                    name: "Pré-exposition",
                    data: {{ chart_data.preexposition|safe }}
                }],
                chart: {
                    type: 'area',
                    height: 100,
                    sparkline: {
                        enabled: true
                    },
                    animations: {
                        enabled: true,
                        easing: 'easeinout',
                        speed: 800,
                        animateGradually: {
                            enabled: true,
                            delay: 150
                        },
                        dynamicAnimation: {
                            enabled: true,
                            speed: 350
                        }
                    }
                },
                stroke: {
                    curve: 'smooth',
                    width: 3
                },
                fill: {
                    type: 'gradient',
                    gradient: {
                        shadeIntensity: 1,
                        opacityFrom: 0.7,
                        opacityTo: 0.3,
                    }
                },
                colors: ['#ffffff'],
                xaxis: {
                    categories: {{ chart_data.months|safe }},
                    labels: {
                        show: false
                    }
                },
                tooltip: {
                    fixed: {
                        enabled: false
                    },
                    x: {
                        show: true
                    },
                    marker: {
                        show: false
                    }
                }
            });
            preExpositionChart.render();

            // Graphique pour Notification
            const notificationChart = new ApexCharts(document.querySelector("#notification-chart"), {
                series: [{
                    name: "Notification",
                    data: {{ chart_data.notification|safe }}
                }],
                chart: {
                    type: 'area',
                    height: 100,
                    sparkline: {
                        enabled: true
                    },
                    animations: {
                        enabled: true,
                        easing: 'easeinout',
                        speed: 800,
                        animateGradually: {
                            enabled: true,
                            delay: 150
                        },
                        dynamicAnimation: {
                            enabled: true,
                            speed: 350
                        }
                    }
                },
                stroke: {
                    curve: 'smooth',
                    width: 3
                },
                fill: {
                    type: 'gradient',
                    gradient: {
                        shadeIntensity: 1,
                        opacityFrom: 0.7,
                        opacityTo: 0.3,
                    }
                },
                colors: ['#ffffff'],
                xaxis: {
                    type: 'category',
                    labels: {
                        show: true
                    }
                },
                tooltip: {
                    fixed: {
                        enabled: false
                    },
                    x: {
                        show: true
                    },
                    marker: {
                        show: false
                    }
                }
            });
            notificationChart.render();

            // Graphique des motifs de vaccination
            const motifVaccinationChart = new ApexCharts(document.querySelector("#motif-vaccination-chart"), {
                series: [{% for motif, count in motif_vaccination_stats.items %}{{ count }}, {% endfor %}],
                chart: {
                    type: 'donut',
                    height: 300,
                    animations: {
                        enabled: true,
                        easing: 'easeinout',
                        speed: 800
                    }
                },
                labels: [{% for motif, count in motif_vaccination_stats.items %}"{{ motif|title }}",{% endfor %}],
                colors: ['#3699ff', '#0bb7af', '#f64e60', '#ffa800', '#8950fc'],
                legend: {
                    position: 'bottom',
                    formatter: function (seriesName, opts) {
                        return seriesName + ": " + opts.w.globals.series[opts.seriesIndex];
                    }
                },
                plotOptions: {
                    pie: {
                        donut: {
                            labels: {
                                show: true,
                                total: {
                                    show: true,
                                    label: 'Total',
                                    color: '#3699ff',
                                    formatter: function (w) {
                                        return w.globals.seriesTotals.reduce((a, b) => a + b, 0)
                                    }
                                }
                            }
                        }
                    }
                },
                tooltip: {
                    y: {
                        formatter: function (value) {
                            return value + " (" + Math.round(value / {{ motif_vaccination_stats.values|sum_dict_values }} * 100) + "%)";
                        }
                    }
                }
            });
            motifVaccinationChart.render();

            // Graphique des types d'exposition
            const expositionTypesChart = new ApexCharts(document.querySelector("#exposition-types-chart"), {
                series: [{
                    name: "Nombre de cas",
                    data: [{% for type, count in stats_exposition.items %}{{ count }}, {% endfor %}]
                }],
                chart: {
                    type: 'bar',
                    height: 300,
                    animations: {
                        enabled: true,
                        easing: 'easeinout',
                        speed: 800
                    }
                },
                plotOptions: {
                    bar: {
                        borderRadius: 4,
                        horizontal: true,
                        dataLabels: {
                            position: 'top',
                        }
                    }
                },
                dataLabels: {
                    enabled: true,
                    formatter: function (val) {
                        return val;
                    },
                    style: {
                        fontSize: '12px',
                        colors: ["#333"]
                    }
                },
                colors: ['#0bb7af'],
                xaxis: {
                    categories: [{% for type, count in stats_exposition.items %}"{{ type|capfirst }}",{% endfor %}],
                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return val + " cas (" + Math.round(val / {{ stats_exposition.values|sum_dict_values }} * 100) + "%)";
                        }
                    }
                }
            });
            expositionTypesChart.render();
        }

        function initMap() {
            // Initialisation de la carte
            var map = L.map('map', {
                maxBounds: [
                    [4.5, -8.6], // Sud-Ouest
                    [10.7, -2.5] // Nord-Est
                ],
                maxZoom: 18,
                minZoom: 7
            }).setView([7.54, -5.55], 7);

            // Fond de carte
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap'
            }).addTo(map);

            // Création des calques pour chaque type
            var layers = {
                postexposition: L.layerGroup(),
                preexposition: L.layerGroup(),
                notification: L.layerGroup(),
                errors: L.layerGroup()
            };

            // Ajout des calques à la carte (actifs par défaut)
            layers.postexposition.addTo(map);
            layers.preexposition.addTo(map);
            layers.notification.addTo(map);

            // Chargement des données
            fetch("{% url 'patients_geojson' %}")
                .then(response => {
                    if (!response.ok) throw new Error('Erreur réseau');
                    return response.json();
                })
                .then(data => {
                    if (!data || !data.features) {
                        throw new Error('Format de données invalide');
                    }

                    if (data.features.length === 0) {
                        showError("Aucun patient trouvé");
                        return;
                    }

                    data.features.forEach(feature => {
                        if (!feature.geometry || !feature.geometry.coordinates) {
                            console.warn("Feature sans coordonnées", feature);
                            return;
                        }

                        const coords = feature.geometry.coordinates;
                        const props = feature.properties || {};

                        // Création du marqueur
                        const marker = L.marker([coords[1], coords[0]], {
                            icon: getIconForPatientType(props.type)
                        });

                        // Popup d'information
                        marker.bindPopup(`
                    <div class="map-popup">
                        <h4>${props.nom || ''} ${props.prenoms || ''}</h4>
                        <p><b>Type:</b> ${props.type || 'Inconnu'}</p>
                        <p><b>Localisation:</b> ${props.exposition_commune || 'Inconnue'}</p>
                        <p><b>Date:</b> ${props.date_exposition || 'Inconnue'}</p>
                    </div>
                `);

                        // Ajout au calque correspondant
                        if (props.type === 'Post-exposition') {
                            marker.addTo(layers.postexposition);
                        } else if (props.type === 'Pré-exposition') {
                            marker.addTo(layers.preexposition);
                        } else if (props.type === 'Notification') {
                            marker.addTo(layers.notification);
                        } else {
                            marker.addTo(layers.errors);
                        }
                    });

                    // Initialisation des contrôles de calque
                    initLayerControls();
                })
                .catch(error => {
                    console.error("Erreur:", error);
                    showError(`Erreur: ${error.message}`);
                });

            // Fonction pour afficher les erreurs
            function showError(message) {
                layers.errors.clearLayers();
                L.marker([7.54, -5.55], {
                    icon: L.divIcon({
                        html: '<i class="fas fa-exclamation-triangle"></i>',
                        className: 'error-marker',
                        iconSize: [30, 30]
                    })
                }).addTo(layers.errors)
                    .bindPopup(message)
                    .openPopup();
                layers.errors.addTo(map);
            }

            // Fonction pour les icônes
            function getIconForPatientType(type) {
                const iconOptions = {
                    iconSize: [30, 30],
                    className: 'patient-marker'
                };

                if (type === 'Post-exposition') {
                    return L.divIcon({
                        ...iconOptions,
                        html: '<i class="fas fa-exclamation-circle text-danger"></i>',
                        className: 'patient-marker danger-marker'
                    });
                } else if (type === 'Pré-exposition') {
                    return L.divIcon({
                        ...iconOptions,
                        html: '<i class="fas fa-syringe text-primary"></i>',
                        className: 'patient-marker primary-marker'
                    });
                } else {
                    return L.divIcon({
                        ...iconOptions,
                        html: '<i class="fas fa-user text-dark"></i>',
                        className: 'patient-marker dark-marker'
                    });
                }
            }

            // Initialisation des contrôles de calque
            function initLayerControls() {
                // Création du contrôle des calques
                var layerControl = L.control.layers(null, {
                    "<i class='fas fa-exclamation-circle text-danger'></i> Post-exposition": layers.postexposition,
                    "<i class='fas fa-syringe text-primary'></i> Pré-exposition": layers.preexposition,
                    "<i class='fas fa-bell text-dark'></i> Notification": layers.notification
                }, {
                    collapsed: false,
                    position: 'topright'
                }).addTo(map);

                // Gestion des boutons de filtre personnalisés
                document.getElementById('filter-postexposition').addEventListener('click', function (e) {
                    e.preventDefault();
                    toggleLayer(layers.postexposition);
                    this.classList.toggle('active');
                });

                document.getElementById('filter-preexposition').addEventListener('click', function (e) {
                    e.preventDefault();
                    toggleLayer(layers.preexposition);
                    this.classList.toggle('active');
                });

                document.getElementById('filter-notification').addEventListener('click', function (e) {
                    e.preventDefault();
                    toggleLayer(layers.notification);
                    this.classList.toggle('active');
                });

                // Fonction pour basculer les calques
                function toggleLayer(layer) {
                    if (map.hasLayer(layer)) {
                        map.removeLayer(layer);
                    } else {
                        map.addLayer(layer);
                    }
                }
            }
        }
    </script>

    <style>
        /* Style des boutons de filtre */
        .nav-link.active {
            background-color: rgba(0, 0, 0, 0.1);
            font-weight: bold;
        }

        /* Style des marqueurs */
        .custom-marker {
            display: flex !important;
            justify-content: center;
            align-items: center;
            width: 30px !important;
            height: 30px !important;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.8);
        }

        .danger-marker {
            color: #f64e60;
        }

        .primary-marker {
            color: #3699ff;
        }

        .dark-marker {
            color: #181c32;
        }

        /* Animation CSS */
        .animate__animated {
            opacity: 0;
        }

        .animate__fadeIn {
            animation: fadeIn 0.5s forwards;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        /* Effet de vague */
        .wave {
            position: relative;
            overflow: hidden;
        }

        .wave:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
            transform: translateX(-100%);
        }

        .wave-animate:before {
            animation: wave 1.5s infinite;
        }

        .wave-animate-slow:before {
            animation: wave 3s infinite;
        }

        @keyframes wave {
            100% {
                transform: translateX(100%);
            }
        }

        /* Effet de pulsation */
        .pulse-animate {
            transition: all 0.3s ease;
        }

        .pulse {
            transform: scale(1.05);
        }

        /* Style des marqueurs de carte */
        .custom-marker {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
        }

        .danger-marker {
            background: rgba(246, 78, 96, 0.2);
            color: #f64e60;
        }

        .primary-marker {
            background: rgba(54, 153, 255, 0.2);
            color: #3699ff;
        }

        .dark-marker {
            background: rgba(24, 28, 50, 0.2);
            color: #181c32;
        }

        .pulse-marker {
            animation: pulse 2s infinite;
        }

        @keyframes pulse {
            0% {
                transform: scale(1);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
            }
            70% {
                transform: scale(1.1);
                box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            }
            100% {
                transform: scale(1);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            }
        }

        /* Style des popups */
        .map-popup {
            min-width: 250px;
        }

        .popup-title {
            font-size: 1.1rem;
            color: #3699ff;
            border-bottom: 1px solid #eee;
            padding-bottom: 5px;
            margin-bottom: 10px;
        }

        .popup-content p {
            margin-bottom: 5px;
            font-size: 0.9rem;
        }

        /* Style des cartes */
        .card {
            transition: all 0.3s ease;
            border: none;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        }

        /* Style des gradients */
        .bg-gradient-danger {
            background: linear-gradient(135deg, #f64e60 0%, #fe5f75 100%);
        }

        .bg-gradient-primary {
            background: linear-gradient(135deg, #3699ff 0%, #5db2ff 100%);
        }

        .bg-gradient-dark {
            background: linear-gradient(135deg, #181c32 0%, #2a2e45 100%);
        }

        /* Style des tableaux */
        .table-vertical-center td {
            vertical-align: middle;
        }

        .patient-marker {
            display: flex !important;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            background: rgba(255, 255, 255, 0.7);
            border-radius: 50%;
            width: 30px !important;
            height: 30px !important;
        }

        .danger-marker i {
            color: #f64e60;
        }

        .primary-marker i {
            color: #3699ff;
        }

        .dark-marker i {
            color: #181c32;
        }

        /* Style des marqueurs */
        .patient-marker {
            display: flex !important;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 50%;
            width: 30px !important;
            height: 30px !important;
        }


        /* Style des filtres actifs */
        .dropdown-item.active {
            background-color: rgba(0, 0, 0, 0.05);
            font-weight: bold;
        }

        /* Style du contrôle des calques */
        .leaflet-control-layers {
            border: 1px solid #ddd;
            background: white;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        }

        .leaflet-control-layers-toggle {
            display: none; /* Cache le toggle par défaut */
        }
    </style>
{% endblock %}