{% extends 'layout/centre-base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
    <!-- Content Section -->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!-- Custom Subheader Component -->
        {% include 'layout/header-title.html' with title=form_title subtitle="Formulaire d'attribution d'Immunoglobuline" %}

        <!-- Main Content Area -->
        <div class="d-flex flex-column-fluid">
            <div class="container">
                <!-- Vaccin Form Card -->
                <div class="card card-custom">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">
                                Traitement Immunoglobuline
                                <span class="d-block text-muted pt-2 font-size-sm">
                                    Remplissez tous les champs requis
                                </span>
                            </h3>
                        </div>
                    </div>

                    <!-- Form Start -->
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row">
                                {% for field in form %}
                                <div class="col-md-3">
                                <label>{{ form.label }}</label>
                                    {{ field|as_crispy_field }}
                                </div>
                                {% endfor %}

                            </div>

                        </div>

                        <div class="card-footer">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary mr-2">
                                        <i class="flaticon2-checkmark"></i> Enregistrer
                                    </button>
                                    <a href="{% url 'vaccin_list' %}" class="btn btn-light-danger">
                                        <i class="flaticon2-close"></i> Annuler
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    {% include 'layout/footer.html' %}
</div>
{% endblock %}