{% extends 'layout/centre-base.html' %}
{% load static %}
{% load unicorn %}
{% load django_tables2 %}


{% block content %}
    <!--begin::Wrapper-->
    <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
        <!--begin::Content-->
        <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Subheader-->
            {% include 'layout/header-title.html' %}
            <!--end::Subheader-->

            <!--begin::Entry-->
            <div class="d-flex flex-column-fluid">
                <!--begin::Container-->
                <div class=" container ">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <!--begin::Header-->
                        <div class="card-header flex-wrap border-0 pt-6 pb-0">
                            <div class="card-title">
                                <h3 class="card-label">
                                    Gestion des Patients
                                    <span class="d-block text-muted pt-2 font-size-sm">User management made easy</span>
                                </h3>
                            </div>
                            <div class="card-toolbar">
                                <!--begin::Dropdown-->
                                <div class="dropdown dropdown-inline mr-2">
                                    <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="svg-icon svg-icon-md"><!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg--><svg
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"/>
        <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z"
              fill="#000000" opacity="0.3"/>
        <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z"
              fill="#000000"/>
    </g>
</svg><!--end::Svg Icon--></span> Export
                                    </button>

                                    <!--begin::Dropdown Menu-->
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                        <!--begin::Navigation-->
                                        <ul class="navi flex-column navi-hover py-2">
                                            <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">
                                                Choose an option:
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon"><i class="la la-print"></i></span>
                                                    <span class="navi-text">Print</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon"><i class="la la-copy"></i></span>
                                                    <span class="navi-text">Copy</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon"><i class="la la-file-excel-o"></i></span>
                                                    <span class="navi-text">Excel</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon"><i class="la la-file-text-o"></i></span>
                                                    <span class="navi-text">CSV</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon"><i class="la la-file-pdf-o"></i></span>
                                                    <span class="navi-text">PDF</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!--end::Navigation-->
                                    </div>
                                    <!--end::Dropdown Menu-->
                                </div>
                                <!--end::Dropdown-->

                                <!--begin::Button-->
                                <a href="" class="btn btn-primary font-weight-bolder">
	<span class="svg-icon svg-icon-md"><!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg--><svg
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
            viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"/>
        <circle fill="#000000" cx="9" cy="15" r="6"/>
        <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
              fill="#000000" opacity="0.3"/>
    </g>
</svg><!--end::Svg Icon--></span> Nouveau cas
                                </a>
                                <!--end::Button-->
                            </div>
                        </div>
                        <!--end::Header-->

                        <!--begin::Body-->

                        <div class="card-body">
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

  <form method="post" class="needs-validation"
        x-data="{
        patientMineur: false,
        aimeAnimaux: false,
        autre: false,
        diffCanal: false,
        connaitProtocoleVar: false,
        }">
        {% csrf_token %}
    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}


        <!-- Identification du Patient -->
        <h2>I. Identification du client</h2>
  <div class="row">
  <div class="col-4">
        <div class="form-group">
            <label>Nom </label>
            {{ form.nom }}

        </div>
  </div>
  <div class="col-4">
        <div class="form-group">
            <label>Prénoms </label>
            {{ form.prenoms }}

        </div>
  </div>
  <div class="col-4">
    <div class="form-group">
            <label>Date de Naissance </label>
            {{ form.date_naissance }}
    </div></div>
<div class="col-4">
  <div class="form-group">
            <label>Sexe </label>
            {{ form.sexe }}

  </div></div>

        <div class="col-4"><div class="form-group">
            <label>Contact </label>
            {{ form.contact }}
        </div></div>
<div class="col-4">
    <div x-data="{
    search: '',
    options: [],
    async fetchOptions() {
        if (this.search.length > 1) {
            const response = await fetch('/api/communes?query=' + this.search);
            this.options = await response.json();
        } else {
            this.options = [];
        }
    }
}" class=" form-group position-relative">
                                        <label for="commune">Commune</label>
                                        <input type="text" id="commune" x-model="search" x-on:input="fetchOptions"
                                               class="form-control" placeholder="Rechercher une commune..."
                                               autocomplete="off">

                                        <!-- Liste déroulante améliorée -->
                                        <div class="dropdown w-100 position-absolute" style="z-index: 1000;"
                                             x-show="options.length" x-on:click.away="options = []">
                                            <ul class="list-group shadow bg-white w-100">
                                                <template x-for="option in options" :key="option.id">
                                                    <li class="list-group-item list-group-item-action"
                                                        x-text="option.name"
                                                        x-on:click.prevent="search = option.name; options = []">
                                                    </li>
                                                </template>
                                            </ul>
                                        </div>
    </div></div>



     <div class="col-3"> <div class="form-group">
            <label>Quartier </label>
            {{ form.quartier }}
     </div></div>

     <div class="col-3"> <div class="form-group">
            <label>Village </label>
            {{ form.village }}
     </div></div>

      <div class="col-3">  <div class="form-group">
            <label>Niveau d'étude </label>
            {{ form.niveau_etude }}
      </div></div>

        <div class="col-3"><div class="form-group" x-data="{ checked: false }">
            <label>le Patient est-il mineur ? (moin de 15 ans )</label>
            <div class="col-12">
            <span class="switch  switch-lg switch-icon">
                <label>
                    <input type="checkbox" name="patient_mineur" x-model="patientMineur">
                    <span></span>

                </label>
            </span></div>
        </div></div>
  </div>

<div class="row" x-show="patientMineur" x-transition>
<div class="col-3">
    <div class="form-group">
            <label>nom & prenom de Accompagnateur</label>
            {{ form.accompagnateur }}
        </div>
    </div>
    <div class="col-3">
    <div class="form-group" >
            <label> Contact</label>
            {{ form.accompagnateur_contact }}
        </div>
            </div>
    <div class="col-3">
    <div class="form-group" >
            <label>Adresse</label>
            {{ form.accompagnateur_adresse }}
        </div>
            </div>
    <div class="col-3">
    <div class="form-group">
            <label>Lien avec le Patient</label>
            {{ form.accompagnateur_nature }}
        </div>
            </div>
    <div class="col-3">
    <div class="form-group">
            <label>Niveau d'etude</label>
            {{ form.accompagnateur_niveau_etude }}
        </div>
        </div>
</div>
                <!-- Informations générales -->
       <h2 class="mt-4">II. Informations Générales</h2>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Date de la Notification</label>
                        {{ form.date_notification }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Hôpital</label>
                        {{ form.hopital }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Agent Déclarant</label>
                        {{ form.agent_declarant }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Service</label>
                        {{ form.service }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Adresse</label>
                        {{ form.adresse }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Téléphone</label>
                        {{ form.telephone }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Cel</label>
                        {{ form.cel }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Email</label>
                        {{ form.email }}
                    </div>
                </div>
                <!-- Origine de la Contamination -->
 <h2 class="mt-4">III. Origine de la Contamination</h2>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Date d'Exposition</label>
                        {{ form.date_exposition }}
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Lieu d'Exposition</label>
                        {{ form.lieu_exposition }}
                    </div>

                    <div class="col-md-4 form-group">
                        <label>Commune</label>
                        {{ form.exposition_commune }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>District Sanitaire</label>
                        {{ form.district_sanitaire_exposition }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Nature de l'exposition</label>
                        {{ form.nature_exposition }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Siège de la lésion</label>
                        {{ form.siege_lesion }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Précision siège</label>
                        {{ form.precision_siege }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Catégorie de la lésion</label>
                        {{ form.categorie_lesion }}
                    </div>
                </div>

 <!-- Prophylaxie Post-Exposition -->
                <h2 class="mt-4">IV. Prophylaxie Post-Exposition</h2>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Vaccination Antirabique</label>
                        {{ form.vaccination_antirabique }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Date Début Vaccination</label>
                        {{ form.date_debut_vaccination }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Protocole de Vaccination</label>
                        {{ form.protocole_vaccination }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Soins Locaux</label>
                        {{ form.soins_locaux }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Désinfection</label>
                        {{ form.desinfection }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Produit Désinfection</label>
                        {{ form.produit_desinfection }}
                    </div>
                </div>

      <div class="form-group" x-show="aimeAnimaux" x-transition>
            <label>Type d'animal aimé</label>
            {{ form.type_animal_aime }}
        </div>

  {% for field in form %}
            {% if field.name in "connait_protocole_var" %}
                <div class="form-group" x-data="{ checked: false }">
                    <label class="col-6 col-form-label">Le Client connait-il le Protocole vaccinal de l'animal ?</label>
                    <div class="d-flex align-items-center">
                        <span x-text="checked ? 'Oui' : 'Non'" class="mr-2 font-weight-bold"></span>
                        <span class="switch switch-lg switch-icon">
                            <label>
                                <input type="checkbox" name="{{ field.name }}" x-model="checked" @change="connaitProtocoleVar = checked">
                                <span></span>
                            </label>
                        </span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}


<!-- Évolution et Conclusion -->
                <h2 class="mt-4">V. Évolution et Conclusion</h2>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Évolution</label>
                        {{ form.evolution }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Date de Décès (si applicable)</label>
                        {{ form.date_deces }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Signature de l'Agent</label>
                        {{ form.signature_agent }}
                    </div>
                </div>


      <button type="submit" class="btn btn-primary mt-4">Enregistrer</button>
    </form>


                        </div>

                        <!--end::Body-->
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Container-->
            </div>
            <!--end::Entry-->
        </div>
        <!--end::Content-->

        <!--begin::Footer-->
        <!--doc: add "bg-white" class to have footer with solod background color-->
        {% include 'layout/footer.html' %}
        <!--end::Footer-->
    </div>
    <!--end::Wrapper-->
{% endblock %}