{% load static %}
<div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">
    <!-- Brand Section -->
    <div class="brand flex-column-auto" id="kt_brand">
        <a href="#">
            <img alt="Logo" src="{% static 'assets/media/logos/logo-001_0.png' %}" class="logo-default max-h-30px"/>
        </a>
    </div>

    <!-- Menu Wrapper -->
    <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
        <div id="kt_aside_menu" class="aside-menu my-4 scroll ps ps--active-y" 
             data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500" 
             style="height: 675px; overflow: hidden;">
            
            <!-- Main Menu Navigation -->
            <ul class="menu-nav">
                <!-- Dashboard -->
                <li class="menu-item menu-item-active" aria-haspopup="true">
                    <a href="{% url 'home' %}" class="menu-link">
                        <i class="menu-icon flaticon2-architecture-and-city"></i>
                        <span class="menu-text">Dashboard</span>
                    </a>
                </li>

                 <li class="menu-item menu-item-active" aria-haspopup="true">
                    <a href="{% url 'cartographie' %}" class="menu-link">
                        <i class="menu-icon flaticon2-map"></i>
                        <span class="menu-text">Cartographie</span>
                    </a>
                </li>
                
                <!-- Patients Section -->
                <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                    <a href="javascript:;" class="menu-link menu-toggle">
                        <i class="menu-icon flaticon2-telegram-logo"></i>
                        <span class="menu-text">Patients</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="menu-submenu" kt-hidden-height="160">
                        <i class="menu-arrow"></i>
                        <ul class="menu-subnav">
                            <li class="menu-item" aria-haspopup="true">
                                <a href="{% url 'patient_list' %}" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                    <span class="menu-text">Liste</span>
                                </a>
                            </li>
                            <li class="menu-item" aria-haspopup="true">
                                <a href="#" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                    <span class="menu-text">Suivi</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- Expositions Section -->
                <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                    <a href="javascript:;" class="menu-link menu-toggle">
                        <i class="menu-icon flaticon2-laptop"></i>
                        <span class="menu-text">Expositions</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="menu-submenu" kt-hidden-height="200">
                        <i class="menu-arrow"></i>
                        <ul class="menu-subnav">
                            <li class="menu-item" aria-haspopup="true">
                                <a href="{% url 'preexposition_list' %}" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                    <span class="menu-text">Pré-expo</span>
                                </a>
                            </li>
                            <li class="menu-item" aria-haspopup="true">
                                <a href="{% url 'postexposition_list' %}" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                    <span class="menu-text">Post-expo</span>
                                </a>
                            </li>
                            <li class="menu-item" aria-haspopup="true">
                                <a href="{% url 'notification_rage_liste' %}" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                    <span class="menu-text">Cas de Rage H</span>
                                </a>
                            </li>
                            <li class="menu-item" aria-haspopup="true">
                                <a href="#" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                    <span class="menu-text">Prelevements</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- Vaccination Section -->
                <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                    <a href="javascript:;" class="menu-link menu-toggle">
                        <i class="menu-icon flaticon2-browser-2"></i>
                        <span class="menu-text">Vaccination</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="menu-submenu">
                        <i class="menu-arrow"></i>
                        <ul class="menu-subnav">
                            <li class="menu-item menu-item-parent" aria-haspopup="true">
                                <span class="menu-link"><span class="menu-text">Reports</span></span>
                            </li>
                            <li class="menu-item" aria-haspopup="true">
                                <a href="{% url 'vaccin-rdv-list' %}" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                    <span class="menu-text">Rendez-vous</span>
                                </a>
                            </li>
                            <li class="menu-item" aria-haspopup="true">
                                <a href="{% url 'vaccination_list' %}" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                    <span class="menu-text">Vaccinés</span>
                                </a>
                            </li>
                           
                           
                           
                        </ul>
                    </div>
                </li>

                <!-- Single Menu Items -->
                <li class="menu-item" aria-haspopup="true">
                    <a href="#" class="menu-link">
                        <i class="menu-icon flaticon2-console"></i>
                        <span class="menu-text">Rapports</span>
                    </a>
                </li>
               <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                    <a href="javascript:;" class="menu-link menu-toggle">
                        <i class="menu-icon flaticon2-settings"></i>
                        <span class="menu-text">Paramètres</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="menu-submenu">
                        <i class="menu-arrow"></i>
                        <ul class="menu-subnav">
                          
                            <li class="menu-item" aria-haspopup="true">
                                <a href="{% url 'vaccin_list' %}" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                    <span class="menu-text">Vaccins</span>
                                </a>
                            </li>
                            <li class="menu-item" aria-haspopup="true">
                                <a href="{% url 'lot_vaccin_list' %}" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                    <span class="menu-text">Lots vaccins</span>
                                </a>
                            </li>
                            <li class="menu-item" aria-haspopup="true">
                                <a href="{% url 'centreantirabique_list' %}" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                    <span class="menu-text">Liste CAR</span>
                                </a>
                            </li>
                            <li class="menu-item" aria-haspopup="true">
                                <a href="{% url 'employeeuser_list' %}" class="menu-link">
                                    <i class="menu-bullet menu-bullet-dot"><span></span></i>
                                    <span class="menu-text"> Utilisateurs  </span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </li>
                
            </ul>
            
            <!-- Perfect Scrollbar Elements -->
            <div class="ps__rail-x" style="left: 0px; bottom: -6px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__rail-y" style="top: 6px; height: 675px; right: 4px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 375px; height: 300px;"></div>
            </div>
        </div>
    </div>
</div>