{% load static %}
{% load unicorn %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="fr">
<!--begin::Head-->
<head>
    <base href="">
    <meta charset="utf-8"/>
    <title>CAR INHP | Plateforme de gestion des vaccinations anti-rabiques</title>
    <meta name="description" content="Système centralisé de gestion des cas de prévention et traitement anti-rabique - Centre Anti-Rabique INHP"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="keywords" content="vaccination anti-rabique, rage, CAR INHP, santé publique, prévention rage, traitement post-exposition"/>
    <meta name="author" content="Centre Anti-Rabique INHP"/>
    <meta name="robots" content="index, follow"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="theme-color" content="#ffffff"/>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://car.inhp.sn/"/>
    <meta property="og:title" content="CAR INHP | Gestion des vaccinations anti-rabiques"/>
    <meta property="og:description" content="Plateforme de gestion des cas de prévention et traitement anti-rabique"/>
    <meta property="og:image" content="https://car.inhp.sn/static/assets/media/logos/logo-social.jpg"/>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content="https://car.inhp.sn/"/>
    <meta property="twitter:title" content="CAR INHP | Gestion des vaccinations anti-rabiques"/>
    <meta property="twitter:description" content="Plateforme de gestion des cas de prévention et traitement anti-rabique"/>
    <meta property="twitter:image" content="https://car.inhp.sn/static/assets/media/logos/logo-social.jpg"/>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/media/logos/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/media/logos/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/media/logos/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/media/logos/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'assets/media/logos/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">

    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap"/>
    <!--end::Fonts-->

    <!--begin::Page Vendors Styles-->
    <link href="{% static 'assets/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <!--end::Page Vendors Styles-->

    <!--begin::Global Theme Styles-->
    <link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <!--end::Global Theme Styles-->

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>

    <!-- Leaflet Marker Cluster -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>

    <!-- AlpineJS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- International Telephone Input -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css"/>

    <style>
        #map {
            height: 600px;
            width: 100%;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        .iti {
            width: 100%;
        }

        .logo-default {
            transition: opacity 0.3s ease;
        }

        .logo-default:hover {
            opacity: 0.8;
        }
    </style>

    {% unicorn_scripts %}
</head>
<!--end::Head-->

<!--begin::Body-->
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed page-loading">
    <!--begin::Main-->
    <!--begin::Header Mobile-->
    <div id="kt_header_mobile" class="header-mobile align-items-center header-mobile-fixed">
        <!--begin::Logo-->
        <a href="{% url 'home' %}">
            <img alt="Logo CAR INHP" src="{% static 'assets/media/logos/logo-001_0.png' %}" class="logo-default max-h-30px"/>
        </a>
        <!--end::Logo-->

        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">
            <!--begin::Aside Mobile Toggle-->
            <button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
                <span></span>
            </button>
            <!--end::Aside Mobile Toggle-->

            <!--begin::Topbar Mobile Toggle-->
            <button class="btn btn-hover-text-primary p-0 ml-2" id="kt_header_mobile_topbar_toggle">
                <span class="svg-icon svg-icon-xl">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"/>
                            <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                            <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
                        </g>
                    </svg>
                </span>
            </button>
            <!--end::Topbar Mobile Toggle-->
        </div>
        <!--end::Toolbar-->
    </div>
    <!--end::Header Mobile-->

    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <!--begin::Aside-->
            {% include 'layout/centres-aside.html' %}
            <!--end::Aside-->

            <!--begin::Wrapper-->
            {% block content %}{% endblock %}
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Main-->

    <!-- begin::User Panel-->
    {% include 'layout/user_option.html' %}
    <!-- end::User Panel-->

    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop">
        <span class="svg-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24"/>
                    <rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1"/>
                    <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero"/>
                </g>
            </svg>
        </span>
    </div>
    <!--end::Scrolltop-->

    <!--begin::Global Theme Bundle-->
    <script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
    <script src="{% static 'assets/plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
    <script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
    <!--end::Global Theme Bundle-->

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

    <!-- International Telephone Input -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"></script>

    <!--begin::Page Vendors-->
    <script src="{% static 'assets/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
    <!--end::Page Vendors-->

    <!--begin::Page Scripts-->
    <script src="{% static 'assets/js/pages/widgets.js' %}"></script>
    <script src="{% static 'assets/js/pages/custom/user/list-datatable.js' %}"></script>

    <!-- SweetAlert2 for notifications -->
    {% if messages %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        {% for message in messages %}
            Swal.fire({
                title: "{{ message.tags|title }}",
                text: "{{ message|safe }}",
                icon: "{{ message.tags }}",
                timer: 5000,
                showConfirmButton: true
            });
        {% endfor %}
    </script>
    {% endif %}

    <!-- Phone Input Initialization -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Initialize phone input
            var phoneInputs = document.querySelectorAll('input[type="tel"]');
            phoneInputs.forEach(function(input) {
                window.intlTelInput(input, {
                    nationalMode: true,
                    initialCountry: "ci",
                    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
                });
            });

            // Initialize tooltips
            $('[data-toggle="tooltip"]').tooltip({
                trigger: 'hover',
                placement: 'top'
            });

            // Select2 initialization
            $('.kt-select2-general').select2({
                placeholder: "Sélectionnez une option",
                width: '100%',
                allowClear: true
            });

            // Export functionality
            $(document).on('click', '[data-export]', function(e) {
                e.preventDefault();
                const format = $(this).data('export');
                window.location.href = "?format=" + format;
            });
        });
    </script>
    <!--end::Page Scripts-->
</body>
<!--end::Body-->
</html>